* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #f1f1f1;
  background-image: linear-gradient(
    to right top,
    #845ec2,
    #744caf,
    #643b9d,
    #55298b,
    #451779
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Roboto", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1.5rem;
  max-width:576px;
  width: 100%;
}
main header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
main header h1 {
  font-size: 1.6rem;
  font-weight: 500;
}
main header #office {
  font-size: 1.2rem;
  font-weight: 400;
}
main nav {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}
main nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: #fa4f21;
  border-radius: 4px;
  gap: 0.5rem;
  padding: 0.9rem;
  font-weight: 500;
  color: #fff;
  transition: all 0.2s;
}
main nav .linkHover {
  border: 2px dashed transparent;
  border-radius: 4px;
  padding: 0.1rem;
}
main nav .linkHover:hover {
  border: 2px dashed #f52cb9;
}

.avatar {
  margin: 2rem 0 1rem;
  width: max(50px, min(135px, 22vw));
  height: max(50px, min(135px, 22vw));
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  padding: 0.1rem;
}
.avatar img {
  border-radius: 50%;
  display: block;
  width: 100%;
  min-height: 150;
  height: 100%;
  min-width: 150;
  width: 100%;
}
footer {
  margin-bottom: 1.5rem;
}

@media (max-width: 375px) {
  main header h1 {
    font-size: 1.3rem;
  }
  main header #office {
    font-size: 0.9rem;
  }
  footer {
    font-size: 0.8rem;
  }
}
